body{
    margin: 0;
    display: flex;
    background-color: #1E1E1E;
    flex-direction: column; /* Вертикальная ориентация для меню и категорий */
    align-items: center; /* Центрируем по горизонтали */
    height: 100vh; /* Высота на весь экран */
}
.container {
    display: flex; /* Включаем flexbox */
    flex-direction: column; /* Вертикальная ориентация */
    align-items: center; /* Центрируем элементы по горизонтали */
    margin: 0px 360px; /* Отступы по бокам */
}
.header{
    position: flex;
    background: #1a1a1a;
    width: 100%;
    height: 124px;
}
.header-line{
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.general-batton{
    color:#D1D1D1;
    text-decoration: none;
    font: 400 14px "Inter", sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}
.general-palk{
    border: 1px solid rgba(130, 130, 130, 0.5);
    width: 0px;
    height: 16px;
}
.menu{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}
.poisk-c{
    position: relative;
    margin-right: 25px;
}
.poisk{
    padding: 10px; /* Внутренние отступы для удобства ввода текста */
    border: none; /* Убираем стандартную рамку */
    border-radius: 8px; /* Закругляем углы поля ввода */
    background-color: #2a2a2a; /* Цвет фона поля ввода */
    color: white; /* Цвет текста в поле ввода */
    font-size: 14px; /* Размер шрифта */
    width: 400px;
    padding-right: 120px;
}
.poisk-icon {
    position: absolute; /* Абсолютное позиционирование для размещения иконки внутри поля ввода */
    right: 10px; /* Позиция иконки справа */
    top: 50%; /* Центрируем иконку по вертикали */
    transform: translateY(-50%); /* Сдвигаем иконку на половину ее высоты для точного центрирования */
    width: 18px; /* Ширина иконки, можно изменить по желанию */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}
.menu-icon{
    margin-left: 25px;
}
.icon-menu{
    display: flex;
}

.palka {
    border-top: 1px solid rgba(130, 130, 130, 0.5); /* Создаем линию */
    width: 100%; /* Занимаем всю ширину родительского контейнера */
    max-width: 1200px; /* Максимальная ширина линии */
    height: 0; /* Высота линии равна нулю */
    margin-top: 14px; /* Отступ сверху */
}
