body{
    background-color: #1E1E1E;
    margin: 0;
    display: flex;
    flex-direction: column; /* Вертикальная ориентация для меню и категорий */
    align-items: center; /* Центрируем по горизонтали */
    height: 100vh; /* Высота на весь экран */
}
@font-face {
    font-family: 'inter';
    src: url('fonts/Inter-ExtraLight.otf') format('truetype');
}
.container-menu{
    display: flex; /* Включаем flexbox */
    flex-direction: column; /* Вертикальная ориентация */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
    max-width: 1200px;
}
@media (max-width: 1220px) {
    .container-menu {
        margin: 0 20px;
        max-width: auto;
    }
}
.header{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: auto;
    backdrop-filter: blur(50px);
    background: rgba(22, 22, 22, 0.7);
}
.header-line{
    padding-top: 20px;
    display: flex;
    gap: 26px;
    align-items: center;
    justify-content: center;
}
.header-line2{
    padding-top: 16px;
    display: flex;
    gap: 26px;
    align-items: center;
}

.battons{
    justify-content: center;
    display: flex;
    gap: 29px;
    color:#D1D1D1;
}
.batton-oboi, 
.batton-priroda, 
.batton-3D,
.batton-textura,
.batton-intereri,
.batton-4k,
.batton-filmi,
.batton-ludi,
.batton-zoo,
.batton-game,
.batton-moda,
.batton-eda{
    position: relative; /* Устанавливаем позицию для псевдоэлемента */
    color: #D1D1D1;
    text-decoration: none;
    font: 300 14px "Inter", sans-serif;
    margin-bottom: 20px;
}

.batton-oboi::after,
.batton-priroda::after,
.batton-3D::after,
.batton-textura::after,
.batton-intereri::after,
.batton-4k::after,
.batton-filmi::after,
.batton-ludi::after,
.batton-zoo::after,
.batton-game::after,
.batton-moda::after,
.batton-eda::after{
    content: ""; /* Создаем пустой контент для псевдоэлемента */
    position: absolute; /* Абсолютное позиционирование */
    left: 0px;
    bottom: -20px; /* Позиционируем чуть ниже текста */
    width: 100%; /* Ширина подчеркивания */
    height: 2px; /* Высота подчеркивания */
    background-color: #FFFFFF; /* Цвет подчеркивания */
    transform: scaleX(0); /* Изначально скрываем подчеркивание */
    transition: transform 0.1s ease; /* Плавный переход */
}

.batton-oboi:hover::after, 
.batton-priroda:hover::after,
.batton-3D:hover::after,
.batton-textura:hover::after,
.batton-intereri:hover::after,
.batton-4k:hover::after,
.batton-filmi:hover::after,
.batton-ludi:hover::after,
.batton-zoo:hover::after,
.batton-game:hover::after,
.batton-moda:hover::after,
.batton-eda:hover::after{
    transform: scaleX(1); /* Показываем подчеркивание при наведении */
}
.batton-oboi:hover,
.batton-priroda:hover,
.batton-3D:hover,
.batton-textura:hover,
.batton-intereri:hover,
.batton-4k:hover,
.batton-filmi:hover,
.batton-ludi:hover,
.batton-zoo:hover,
.batton-game:hover,
.batton-moda:hover,
.batton-eda:hover{
    color: #FFFFFF; /* Изменение цвета текста при наведении */
}

.general-palk{
    border: 1px solid rgba(130, 130, 130, 0.5);
    width: 0px;
    height: 16px;
}

.logo-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icon{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.menu-icon-upload, .menu-icon-arhiv, .menu-icon-account{
    stroke: #D1D1D1;
}
.menu-icon-upload:hover, .menu-icon-arhiv:hover, .menu-icon-account:hover {
    stroke: #FFFFFF;
}
.menu-icon-upload:active,.menu-icon-arhiv:active,.menu-icon-account:active {
    stroke: #333333;
}

.poisk-c {
    position: relative;
    flex-grow: 1; /* Позволяет контейнеру занимать доступное пространство */
    min-width: 200px; /* Ограничиваем максимальную ширину контейнера */
}

.poisk {
    padding: 10px; /* Внутренние отступы для удобства ввода текста */
    border: none; /* Убираем стандартную рамку */
    border-radius: 8px; /* Закругляем углы поля ввода */
    background: rgba(45, 45, 45, 0.5);
    color: white; /* Цвет текста в поле ввода */
    font-size: 14px; /* Размер шрифта */
    width: 100%; /* Задаем ширину 100% от родительского контейнера */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    outline: 0;
}

.poisk-icon {
    position: absolute; /* Абсолютное позиционирование для размещения иконки внутри поля ввода */
    right: 10px; /* Позиция иконки справа */
    top: 50%; /* Центрируем иконку по вертикали */
    transform: translateY(-50%); /* Сдвигаем иконку на половину ее высоты для точного центрирования */
    width: 18px; /* Ширина иконки, можно изменить по желанию */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

.parent-container {
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
}

.palka {
    border-top: 1px solid rgba(130, 130, 130, 0.5); /* Создаем линию */
    width: 100%; /* Занимаем всю ширину родительского контейнера */
    min-width: 446px; /* Минимальная ширина линии */
    height: 0; /* Высота линии равна нулю */
    margin-top: 14px; /* Отступ сверху */
}
@media (max-width: 1220px) {
    .battons, .general-palk, .parent-container{
        display: none;
    }
}

.profile {
    width: 1200px;
    height: auto;
    display: grid;                           /* Включаем Flexbox */                /* Центрируем содержимое по горизонтали */
    margin-top: 140px;
    justify-items: center;
}
@media (max-width: 1220px) {
    .profile {
        margin-top: 90px;
        width: 100%;
    }
}
.profile-fon1{
    background: rgb(141, 84, 84);
    width: 100%;
    height: 166px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
}
.profile-avatar{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 100%;
    background: white;
    margin-top: 90px;
    
}
.profile-fon2{
    display: grid;
    width: 100%;
    height: auto;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #212121;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
    margin-bottom: 20px;
}
.profile-info{
    display: flex;
    width: 494px;
    justify-items: center;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin: 80px 10px 10px 10px;
}
.profile-nik{
    font: 300 20px "Inter", sans-serif;
    color: #fff;
    margin: 0px;
    align-items: center;
}
.profile-palka{
    border-top: 1px solid rgba(130, 130, 130, 0.5);
    width: 100%;
    min-width: 446px;
    height: 0;
}
.profile-opisanie{
    font: 400 16px "Inter", sans-serif;
    color: #fff;
    margin: 0px;
    align-items: center;
}
.profile-exit{
    display: flex;
    font: 400 16px "Inter", sans-serif;
    color: #fff;
    margin: 4px;
    align-items: center;
    border-radius: 6px;
    width: auto;
    height: 25px;
    background: rgba(22, 22, 22, 0.7);;
    padding: 4px;
    text-decoration: none;
}
.photo {
    display: grid; /* Используем grid для контейнера */
    grid-template-columns: repeat(3, 1fr); /* Три равные колонки */
    gap: 14px; /* Расстояние между элементами */
}

.photo-stolb1, .photo-stolb2, .photo-stolb3{
    display: flex; /* Используем flex для столбцов */
    flex-direction: column; /* Элементы в столбцах */
    gap: 14px;
}

.photo img {
    border-radius: 10px;
    width: 100%; /* Задайте ширину изображения по вашему усмотрению */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}