body{
    background-color: #1E1E1E;
    margin: 0;
    display: flex;
    flex-direction: column; /* Вертикальная ориентация для меню и категорий */
    align-items: center; /* Центрируем по горизонтали */
    height: 100vh; /* Высота на весь экран */
}
main{
    width: 100%;
}
@font-face {
    font-family: 'inter';
    src: url('fonts/Inter-ExtraLight.otf') format('truetype');
}
.container-menu{
    display: flex; /* Включаем flexbox */
    flex-direction: column; /* Вертикальная ориентация */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
    max-width: 1200px;
}
.container-menu2{
    display: flex; /* Включаем flexbox */
    flex-direction: column; /* Вертикальная ориентация */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
    max-width: 1200px;
}
@media (max-width: 1220px) {
    .container-menu {
        margin: 0 20px;
        max-width: auto;
    }
}
header{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: auto;
    backdrop-filter: blur(50px);
    background: rgba(22, 22, 22, 0.7);
}
.header-line{
    padding: 20px 0;
    display: flex;
    gap: 26px;
    align-items: center;
    justify-content: center;
}
.header-line2{
    padding-top: 16px;
    display: flex;
    gap: 26px;
    align-items: center;
}


.logo-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icon{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.menu-icon-upload, .menu-icon-account{
    stroke: #D1D1D1;
    display: flex;
}
.menu-icon-upload:hover, .menu-icon-account:hover {
    stroke: #FFFFFF;
}
.menu-icon-upload:active, .menu-icon-account:active {
    stroke: #333333;
}

.poisk-c {
    position: relative;
    flex-grow: 1; /* Позволяет контейнеру занимать доступное пространство */
    min-width: 100px; /* Ограничиваем максимальную ширину контейнера */
}

.poisk {
    padding: 10px 38px 10px 10px;
    border: none; /* Убираем стандартную рамку */
    border-radius: 8px; /* Закругляем углы поля ввода */
    background: rgba(45, 45, 45, 0.5);
    color: white; /* Цвет текста в поле ввода */
    font-size: 14px; /* Размер шрифта */
    width: 100%; /* Задаем ширину 100% от родительского контейнера */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    outline: 0;
}

.buttonpoisk{
    border: 0;
    background-color: #00000000;
    position: absolute; /* Абсолютное позиционирование для размещения иконки внутри поля ввода */
    right: 20px; /* Позиция иконки справа */
    top: 50%; /* Центрируем иконку по вертикали */
    transform: translateY(-50%); /* Сдвигаем иконку на половину ее высоты для точного центрирования */
    width: 18px; /* Ширина иконки, можно изменить по желанию */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

.poisk-icon {
    position: absolute; /* Абсолютное позиционирование для размещения иконки внутри поля ввода */
    top: 50%; /* Центрируем иконку по вертикали */
    transform: translateY(-50%); /* Сдвигаем иконку на половину ее высоты для точного центрирования */
    width: 18px; /* Ширина иконки, можно изменить по желанию */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    fill: #D1D1D1;
    cursor: pointer;
}
.poisk-icon:hover {
    fill: white;
}
#poiskc::placeholder {
    color: rgb(175, 175, 175);
}



.uploadbackground{
    display: grid;
    margin-top: 94px; 
    background: #212121;
    border-radius: 10px;
    gap: 14px;
    padding: 26px;
}
.upload-img{
    display: flex;
    border-radius: 30px;
    border: 2px solid #7879e0;
    background-color: #1e1e1e;
    margin-bottom: 14px;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}
input[type="file"] {
    display: none;
}
.upload-imglabel {
    display: grid;
    width: 100%;
    padding: 20px 0 20px 0;
    cursor: pointer;
    justify-items: center;
    align-content: stretch;
    transition: all 0.3s;
}
@media (max-width: 720px){
    .upload-imglabel{
        padding: 0;
    }
    .upload-img{
        border-radius: 14px;
    }
}

.dartellcub {
    transition: all 0.3s;
}

.cub {
    position: absolute; /* Абсолютное позиционирование для перекрытия */
    top: 50%; /* Позиционирование по вертикали */
    left: 50%; /* Позиционирование по горизонтали */
    transform: translate(-50%, -50%); /* Центрируем элемент */
    max-width: 1000px; /* Ширина куба (пример) */
    max-height: 1000px; /* Высота куба (пример) */
}
.cubcontainer {
    position: relative; /* Родительский элемент */
    width: 194px; /* Ширина контейнера */
    height: 183px; /* Высота контейнера */
    margin: 0 auto; /* Центрирование контейнера на странице */
}
.cubcart {
    left: 70%;
    top: 60%;
    width: 112px;
    height: 70px;
    transition: 0.3s ease-in-out;
}

.upload-imglabel:hover .cubcart{
    animation: animateCub 0.6s forwards;
}
@keyframes animateCub {
    0% {
        left: 70%;
        top: 60%;
        width: 112px;
    }
    50% {
        left: 36%;
        top: 44%;
        width: 70px;
    }
    100% {
        left: 70%;
        top: 60%;
        width: 112px;
    }
}




.upload-img-text2 {
    font: 200 16px "Inter", sans-serif;
    text-align: center;
    color: #fff;
    margin: 0px 20px 10px 20px;
    transition: all 0.3s;
}



#preview{
    display: flex;
    justify-content: center;
    padding: 6px;
}

.infocub{
    width: auto;
}

.previewimg{
    max-width: 1150px;
    max-height: 340px;
    width: 100%;
    border-radius: 14px;
}

.disoff{
    display: none;
}









.uploadbackgroundform{
    display: grid;
    gap: 14px;
}

.input-container {
    position: relative;
    width: 100%;
    font: 300 14px "Inter", sans-serif;
    border-radius: 12px;
    border: 1px solid #1e1e1e;
    transition: border 0.5s;
}
.inputred{
    border: 1px solid rgb(255, 110, 110) !important;
}

.input {
    padding: 10px; /* Внутренние отступы для удобства ввода текста */
    border: 1px solid #1e1e1e; /* Убираем стандартную рамку */
    border-radius: 12px; /* Закругляем углы поля ввода */
    background-color: #1e1e1e; /* Цвет фона поля ввода */
    color: white; /* Цвет текста в поле ввода */
    font-size: 18px; /* Размер шрифта */
    height: 62px;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%; /* Задаем ширину 100% от родительского контейнера */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #1e1e1e !important;
    -webkit-text-fill-color: white;
}

.placeholder {
    color: #a5a5a5;
    left: 14px;
    top: 16px;
    background: #1e1e1e;
    padding: 6px;
    border-radius: 12px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 0.3s, color 0.3s, background 0.3s, padding 0.3s, border-radius 0.3s, stroke 0.3s;
}

.placeholder:focus{
    stroke: #7879e0;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-34px) translateX(2px) scale(0.75);

    color: #808097;
    background: #212121;
    padding: 6px;
    border-radius: 12px;
}

    .input:focus ~ .placeholder {
    color: #7879e0;
    background: #212121;
    padding: 10px;
    border-radius: 12px;
}
.input-container:focus-within{
    border: 1px solid #7879e0;
}
.opisanie{
    padding: 16px 20px 0;
    font: 300 16px "Inter", sans-serif;
    resize: vertical;
    height: 100%;
}
.niz{
    display: flex;
    gap: 16px;
    justify-content: space-between;
}
.tagi{
    align-items: center;
}
.tags{
    display: flex;
    font: 300 14px "Inter", sans-serif;
    color: rgb(216, 216, 216);
    padding: 3px 10px;
    border-radius: 6px;
    text-align: center;
}

.addimage {
    font: 300 16px "Inter", sans-serif;
    border-radius: 12px;
    background-color: #00000000;
    border: 1px solid #7879e0;
    color: #eee;
    cursor: pointer;
    padding: 20px 90px;
    text-align: center;
    transition: all 0.2s;
}
.addimage:hover{
    background-color: #1b1b1b;
}

.addimage:active {
    background-color: rgba(26, 26, 26, 0.81) ;
}
.info-block {
    font: 300 14px "Inter", sans-serif;;
    display: none;
}

.info-block.show {
    display: block; 
}

/* Анимация для появления с центра */
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Применяем анимацию при показе */
.info-block.appear {
    animation: appear 0.5s ease forwards; /* Применяем анимацию появления */
}
#filewin{
    color: rgb(110, 255, 110);
    text-align: center;
    margin-bottom: 10px;
}
#errorsecurity{
    color: rgb(255, 110, 110);
    text-align: center;
    margin-bottom: 10px;
}
#error{
    color: rgb(255, 110, 110);
    text-align: center;
    margin-bottom: 10px;
}
a{
    color: #7879e0;
}
@media (max-width: 680px){
    .niz{
        flex-direction: column;
    }
    .addimage{
        padding: 20px 0;
    }
    .cubcontainer{
        transform: scale(0.5);
        height: 110px;
    }
    .upload-img-text2{
        font: 200 12px "Inter", sans-serif;
    }
    .container-menu2{
        margin: 0;
    }
    .uploadbackground{
        margin-top: 80px;
    }
}
